.posts-story-wrap{
    display: flex;
    display: flex;
    padding: 16px 0px;
}
.posts-stories{
    position: relative;
    width: 18%;
    margin-right: 8px;
}
.posts-stories-img{
    height: 180px;
    width: 100%;
    border-radius: 8px;
}
.posts-stories p{
    position: absolute;
    top: 131px;
    font-size: 14px;
    width: 105px;
    color: #fff;
    padding: 13px;

}
.posts-stories-img-inner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.posts-stories-inner{
    border-radius: 50%;
    position: absolute;
    left: 14px;
    top: 20px;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    overflow: hidden;
}